.new-plant-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #77F2F2;
    width: auto;
    box-sizing: border-box;
    padding: 6vmin;
    height: 85vh;
    font-size: larger;
    font-family: 'Tilt Prism', cursive;
}

input {
    padding: 2.5vmin;
    font-size: 2vmin;
    border-radius: 2vmin;
    border-color: #029a28;
    background-color: #AFD91A;
    text-align: start;
}

.input-container {
    display: grid;
}

.add-button {
    padding: 2vmin;
    font-size: 2vmin;
    text-align: center;
    cursor: pointer;
}

button:disabled, form:invalid button[type="submit"] {
    cursor: not-allowed;
    border-radius: 1vmin;
    border-color: #029a28;
    background-color: #AFD91A;
}

button[type="submit"] {
    grid-column: span 2;
    margin: 3vmin 1vmin 1vmin 1vmin;
    padding: 1vmin;
    font-family: 'Tilt Prism', cursive;
    font-size: larger;
}

.new-plant-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding: 0 140px 0 100px;
    background-color: #dd49fe;
    width: auto;
    box-sizing: border-box;
    font-family: 'Tilt Prism', cursive;
}