.new-plant-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #77F2F2;
    padding: 5vmin 10vmin 5vmin 25vmin;
    font-family: 'Tilt Prism', cursive;
    height: 100vh;
    padding-bottom: 120px;
}

input {
    padding: 2.5vmin;
    font-size: 2vmin;
    border-radius: 2vmin;
    border-color: #029a28;
    background-color: #AFD91A;
    text-align: start;
}

.add-button {
    padding: 2vmin;
    font-size: 2vmin;
    text-align: center;
    cursor: pointer;
}

button:disabled, form:invalid button[type="submit"] {
    cursor: not-allowed;
    border-radius: 1vmin;
    border-color: #029a28;
    background-color: #AFD91A;
}

button[type="submit"] {
    grid-column: span 2;
    margin: 3vmin 1vmin 1vmin 1vmin;
    padding: 1vmin;
    font-family: 'Tilt Prism', cursive;
    font-size: larger;
}

/* .new-plant-page {
    height: 100vh;
    padding: 10vmin 10vmin 10vmin 25vmin;
} */