/* .nav-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5BC2C;
    width: 7rem;
    float: left;
    height: 100vh;
    padding-bottom: 120px;
    font-size: large;
} */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #000000;
    padding: 2vmin;
    background-color: #2cc102;
}

.nav a {
    display: flex;
    font-family: 'Tilt Prism', cursive;
    font-size: 3.5vmin;
    padding-right: 6vmin;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 3vmin  0 0 .5vmin;
}

a:hover {
    color: #87f841;
}

.nav-logo {
    width: 13vmin;
    margin: 0 0 0 6vmin;
    border-radius: 7vmin;
    border: 0.5vmin solid rgb(255, 255, 255);
    margin-right: auto;
    padding: .5vmin;
}