/* .nav-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5BC2C;
    width: 7rem;
    float: left;
    height: 100vh;
    padding-bottom: 120px;
    font-size: large;
} */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* font-size: 2.5vmin; */
    color: #000000;
    padding: 2.5vmin;
    background-color: #2cc102;
}

.nav a {
    font-family: 'Tilt Prism', cursive;
    font-size: 3vmin;
    padding-right: 6vmin;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: #87f841;
}

.nav-logo {
    width: 12vmin;
    margin: 0 0 0 6vmin;
    border-radius: 6vmin;
    border: 0.5vmin solid rgb(255, 255, 255);
    margin-right: auto;
    padding: .5vmin;
}