.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #000000;
    padding: 2vmin 0 2vmin 0;
    background-color: #2cc102;
    border: solid 1vmin #a1ffafc7;
}

.nav a {
    display: flex;
    font-family: 'Poor Story';
    font-size: 3.5vmin;
    padding-right: 5vmin;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 3vmin 0 0 0;
}

a:hover {
    color: #ede101;
}

.nav-logo {
    width: 13vmin;
    margin: 0 0 0 5vmin;
    border-radius: 7vmin;
    border: 0.5vmin solid #ede101;
    margin-right: auto;
    padding: .5vmin;
}