* {
  box-sizing: border-box;
  font-family: 'Tilt Prism', cursive;
  color: #000000;
  text-align: center;
}

.categories {
  background-color: #77F2F2;
  padding: 5vmin;
  padding-bottom: 12vmin;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  justify-content: center;
  background-color: #ede101;
  padding: 2.5vmin;
  border-radius: 4vmin;
  margin: 2vmin;
}

.category-card {
  align-items: center;
  background-color: #69f77ec7;
  padding: 2vmin;
  border: .5vmin solid #2cc102;
  border-radius: 3vmin;
  font-family: 'Tilt Prism', cursive;
  display: flex;
  flex-direction: column;
  width: 25vmin;
}

.my-plants {
  background-color: #69f77ec7;
  padding: 5vmin;
  grid-gap: 3vmin;
  display: grid;
}

.plant-card {
  background-color: #31d1fec7;
  padding: 3vmin;
  border-radius: 2vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid #77F5FE;
}

@media only screen and (max-width: 767px) {
  .my-plants {
    grid-template-columns: 1fr; 
  }

  .plant-card {
    padding: 3vmin; 
  }
}