* {
  box-sizing: border-box;
  font-family: 'Tilt Prism', cursive;
  color: #000000;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.categories-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding: 0 140px 0 100px;
  background-color: #AFD91A;
  width: auto;
  box-sizing: border-box;
}

.category-container {
  display: grid;
  padding: 2vmin;
  font-size: 2vmin;
  background-color: #06f9f9;
  padding: auto;
  height: 100vh;
  gap: 2vmin;
}

.category-card {
  border: 2px solid rgb(176, 250, 244);
  background-color: rgb(176, 250, 244);
  border-radius: 10px;
}

.auth-page {
  padding: 20px;
  border-radius: 10px;
  background-color: #77F2F2;
  padding: auto;
  height: 100vh;
}

.my-plants {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding: 0 140px 0 100px;
  background-color: #AFD91A;
  width: auto;
  box-sizing: border-box;
}

.new-plant-card {
  border: 2px solid rgb(239, 145, 248);
  background-color: rgb(234, 22, 253);
  padding: 20px 0 0 165px;
  height: 85vh;
}