* {
  box-sizing: border-box;
  font-family: 'Tilt Prism', cursive;
  color: #000000;
  text-align: center;
}

.categories-h1 {
  background-color: #18fc6c;
  line-height: 3;
  text-align: center;
  padding: 5vmin 5vmin 5vmin 21vmin;
  height: 100vh;
  padding-bottom: 120px;
}

.category-container {
  display: grid;
  grid-gap: 2vmin;
  background-color: #ede101;
  padding: 6vmin;
  border-radius: 5vmin;
}

.category-card {
  background-color: #62ddffc7;
  padding: 4vmin;
  border-radius: 4vmin;
  font-family: 'Tilt Prism', cursive;
}

.my-plants {
  background-color: #AFD91A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding: 0 140px 0 100px;
  width: auto;
  box-sizing: border-box;
}

.new-plant-card {
  border: 10vmin;
  background-color: #18fc6c;
  padding: 5vmin 5vmin 5vmin 21vmin;
  height: 100vh;
  /* padding-bottom: 120px; */
}