.auth-page {
  background-color: #77F2F2;
  padding: 10vmin;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2vmin;
  padding: 6vmin;
  border-radius: 5vmin;
  background-color: #03bce6;
}

.about-p {
  background-color: #69f77ec7;
  line-height: 2.5;
  text-align: end;
  padding: 10vmin;
  padding-bottom: 32vmin;
  font-family: 'Tilt Prism', cursive;
  font-size: 3.5vmin;
}

.about-container {
  background-color: #77F5FE;
  padding: 2vmin 6vmin 10vmin 6vmin;
  border-radius: 5vmin;
}

.logo {
  border-radius: 50%;
  padding: 1vmin;
  border: 1vmin solid #ede101;
  margin: 4vmin 0 0 0;
}