.auth-page {
  background-color: #77F2F2;
  height: 100vh;
  padding: 10vmin 10vmin 10vmin 25vmin;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2vmin;
  padding: 6vmin;
  border-radius: 5vmin;
  background-color: #03bce6;
}

.about-p {
  background-color: #23ff74;
  line-height: 3;
  text-align: center;
  padding: 10vmin 10vmin 10vmin 25vmin;
  height: 100vh;
  padding-bottom: 120px;
  font-family: 'Tilt Prism', cursive;
}

.about-container {
  background-color: #77F5FE;
  padding: 8vmin;
  border-radius: 5vmin;
}