body {
  margin: 0;
  background-color: #AFD91A;
  padding: 4vmin;
  font-family: 'Caesar Dressing';
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1vmin;
  padding: 1vmin;
  text-align: center;
  font-size: 2vmin;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5vmin;
  color: #0a0800;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  font-size: 2vmin;
  text-align: center;
  cursor: pointer;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
